@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.general_parent {
  @apply w-full flex justify-center;
}
.general_width {
  @apply w-full px-4 md:px-8 xl:w-4/5 xl:px-0;
}

h1 {
  @apply font-serif-display text-white font-semibold break-words leading-[4rem] text-5xl md:text-6xl lg:text-7xl;
}

h2 {
  @apply font-serif-display font-semibold text-semi-black text-3xl md:text-5xl;
}

h3 {
  @apply font-serif-display font-semibold text-semi-black text-2xl sm:text-3xl;
}

.hero_filter {
  @apply w-full h-full bg-[#2a2a2a] opacity-40 absolute top-0;
}

.footer_head {
  @apply font-serif-display text-xl text-text-gray my-8;
}

.footer_link_block {
  @apply w-full md:w-[48%] lg:flex-1 flex flex-col items-center md:items-start text-center md:text-left md:items-start;
}
.footer_links {
  @apply flex flex-col items-center md:items-start text-text-gray;
}

.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.35;
  background-color: #2a2a2a;
}

.generic_button {
  @apply text-white text-sm font-semibold bg-semi-black hover:bg-hover-black w-fit px-10 py-4;
}
